section.event-description
	.wrapper
		h2.event-description__title.title-main Digital Meetup - это:
		.event-description__info
			p.event-description__text «Digital marketing» —  это возможность погрузиться в мир CPA рынка и узнать тонкости работы с данной нишей. Мы расскажем чем живет CPA индустрия и поделимся знаниями как зарабатывать больше в аффилейт маркетинге. 
			p.event-description__text Формат мероприятия: официальная часть с докладами на тему аффилейт маркетинга и нетворинг вечер для всех желающих вступить в ряды CPA индустрии.