section.header
	include menu
	.wrapper
		.header__top
			.header__left.date
				img.date__ico(src="img/svg/date.svg", alt="date")
				.date__desc
					p.date__text 10 
						span августа
					p.date__text 19:00 
						span вт
			.header__right.place
				img.place__ico(src="img/svg/place.svg", alt="place")
				p.place__text Just in space
					span ул. Братская, 6
		.header__logo
			img(src="img/svg/digital-meetup-logo.svg", alt="")
		button.header__btn.js-show-popup(data-target="#order-popup") Регистрация
		h1.header__title.title-color Погружение в нишу CPA для&nbsp;маркетологов и таргетологов
		.header__main
			img(src="img/svg/ico.svg", alt="")
			p.header__info Количество мест ограничено
				br
				| Билеты платные