section.photo-report
	.wrapper
		h2.photo-report__title.title-main Как прошло предыдущее мероприятие от Affhub?
		.photo-report__list
			.youtube-item
				.youtube(data-id="Ptrpi3YH-0A")
				p.youtube-item__title Промо ролик Affhub Meetup Tbilisi
			.youtube-item
				.youtube(data-id="5M7kl4H6f-k")
				p.youtube-item__title Meduza Party в Одессе
			.youtube-item
				.youtube(data-id="qbYMZPL37-o")
				p.youtube-item__title Gaming Party в Киеве