.popup.js-popup#order-popup
	.popup__wrap
		.popup__close.js-close
			img(src="img/svg/close.svg", alt="close")
		.popup__content
			.popup__success
					h2.popup__subtitle Спасибо! В ближайшее время с тобой свяжется наш менеджер и расскажет детали мероприятия. Чтобы быть в курсе всех событий и новостей подписывайся на наш канал в телеграм!
			form#registration_form.form(action='/' method='post')
				h2.form__title
					| Регистрация
				input.js-input-location(type='hidden' name='location')
				.form__input-wrap
					input.form__input.js-input(type='text' name='name' required='')
					label.form__label.js-label Имя
					.form_error
				.form__input-wrap
					input.form__input.js-input(type='email' name='email' required='')
					label.form__label.js-label Email
					.form_error
				.form__input-wrap
					input.form__input.js-input(type='tel' name='phone' required='')
					label.form__label.js-label Номер телефона
					.form_error
				.form__input-wrap
					input#nickname.form__input.js-input(type='text' name='nickname' required='')
					label.form__label.js-label Никнейм
					.form_error
				button#reg_btn.form__btn.btn-main.js-reg-event(type='submit') Отправить заявку
