section.schedule
	.wrapper
		.schedule__top
			h2.schedule__title.title-main Программа и тайминг:
			button.btn-main.schedule__btn.schedule__btn--desc Регистрируйся сейчас
		.schedule__list
			.schedule-item
				p.schedule-item__ttl Welcome Drink
				p.schedule-item__time 19:00 - 19:30
			.schedule-item
				p.schedule-item__ttl Доклад Владимира Соломиенко
				p.schedule-item__time 19:30 - 20:00
			.schedule-item
				p.schedule-item__ttl Доклад Ольги&nbsp;Сапоговой
				p.schedule-item__time 20:00 - 20:30
			.schedule-item
				p.schedule-item__ttl Доклад Валерии&nbsp;Швестко
				p.schedule-item__time 20:30 - 21:00
			.schedule-item
				p.schedule-item__ttl Networking Time
				p.schedule-item__time 21:00 - 22:30
		button.btn-main.schedule__btn.schedule__btn--mob Регистрируйся сейчас