.speakers
	.wrapper
		h2.speakers__title.title-main Доклады:
		.speakers__wrapper
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_1.png", alt="Владимир Соломиенко")
				p.speaker__name.title-color Владимир Соломиенко
				p.speaker__post Digital-маркетолог. Основатель агенства performance-маркетинга VSMM agency
				p.speaker__title 10 самых распространенных ошибок в Digital-маркетинге в 2021 году
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_2.png", alt="Ольга Сапогова")
				p.speaker__name.title-color Ольга Сапогова
				p.speaker__post Head of Affhub 
				p.speaker__title Secret Topic
			.speaker
				.speaker__photo-wrap
					img(src="img/speaker_3.png", alt="Валерия Швестко")
				p.speaker__name.title-color Валерия Швестко
				p.speaker__post Head of Affiliate SalesDoubler
				p.speaker__title Сколько можно заработать в FinTech и FMCG -вертикалях?