- var SPONSORS = LANG.sponsors;

section.sponsors
	.wrapper
		.sponsors__top
			.sponsors__col
				h2.sponsors__title.title-color GENERAL
					br
					| SPONSOR
				a.sponsors__wrap-photo(href="https://salesdoubler.ua/?utm_source=sitename&utm_medium=logo&utm_campaign=pagelogo" target="_black")
					img(src="img/svg/sponsor_4.svg", alt="Sales Doubler")
			.sponsors__col
				h2.sponsors__title.title-color EXCLUSIVE
					br
					| SPONSOR
				a.sponsors__wrap-photo(href="https://everad.com/" target="_black")
					img(src="img/svg/sponsor_2.svg", alt="everad")
		.sponsors__row
			h2.sponsors__title-bottom Информационные партеры:
			.sponsors__list
				a.sponsors__wrap-item(href="https://mama-edu.com/dashboard" target="_black")
					img(src="img/svg/partners_1.svg", alt="mama")
				a.sponsors__wrap-item(href="https://sempro.com.ua" target="_black")
					img(src="img/svg/partners_4.svg", alt="sempro")
				.sponsors__wrap-item
					img(src="img/svg/partners_3.svg", alt="yosa")
				.sponsors__wrap-item
					img(src="img/svg/partners_2.svg", alt="zorbasmedia")